@import url(../styles/global.css);
:root {
  --background: #fff;
  --green: #76a713; /* First-letter, */
  --accent-color: #4f9022; /* buttons, cards */
  --orange: #f60; /* discounts, stars */
  --footer-back: #151823;
  --footer-color: #666873;
  --text-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  min-height: 100vh;
}
.i {
  color: #fff;
  font-size: 2.4rem;
  margin-right: 15px;
  transition: 500ms;
}
.i:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: var(--green);
}
.footer {
  position: sticky;
  top: 100%;
  padding-block: 50px;
  margin-top: 100px;
  background-color: var(--footer-back);
  color: var(--footer-color);
}
.footer__container {
  width: 100% !important;
  min-width: 100vw;
  /* max-width: 1160px; */
  margin: auto;
  padding: 0 15px;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 20px;
}
.footer__title {
  position: relative;
  font-size: 18px;
  color: var(--green);
  font-weight: 500;
  margin-bottom: 20px;
}
.footer__title:before {
  content: '';
  position: absolute;
  left: 9%;
  bottom: -5px;
  width: 50px;
  height: 3px;
  border-radius: 30px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--green);
  z-index: 10;
  transition: 190ms;
}
.footer__title:hover:before {
  content: '';
  left: 12%;
  width: 70px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__list-item {
  list-style: none;
}
.footer__list-link {
  text-decoration: none;
  color: inherit;
  transition: color .25s;
}
.footer__list-link:hover {
  color: var(--green);
}
.footer__divider {
  margin-block: 25px;
  border: none;
  border-top: 1px solid rgb(0 0 0 / .1);
}
.footer__bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__bottom .footer__list {
  flex-direction: row;
}
@media screen and (max-width: 650px) {
  .i {
    font-size: 1.8rem;
  }
  .footer__title:before, .footer__title:hover:before {
    display: none;
  }
  span.copyright {
    text-align: center;
    font-size: smaller;
  }
}