@import url("global.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  width: 100%;
  min-width: 100vw;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: bold;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/bg1.webp);
  background-position: center;
  background-size: cover;
  margin-bottom: 380px;
}
.banner__img {
  position: absolute;
  z-index: -1;
  width: 98%;
  min-width: 98vh;
  object-position: center;
  object-fit: cover;
  opacity: 0.6;
  filter: blur(2px);
}
.banner__content {
  max-width: 900px;
  text-align: center;
}
.banner__content h6 {
  font-size: 5em;
  color: var(--green);
  mix-blend-mode: darken;
}
.banner__content p {
  font-size: 1em;
  color: #000;
  mix-blend-mode: darken;
}
.slides {
  position: relative;
  background: #000;
  height: 100vh;
  overflow: hidden;
}

.banner_slides::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: rgb(0 0 0 / 25%);
}

.slide {
  height: 900px;
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: cycle 24s infinite;
}

.slide-2 {
  animation-delay: 8s;
}

.slide-3 {
  animation-delay: 16s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes cycle {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
    transform: scale(1.05);
  }

  30% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
  }
}

.card__container {
  width: 98% !important;
  min-width: 98vw;
  margin: 0 5px;
  padding: 0;
}

.card {
  width: 98% !important;
  min-width: 98vw;
  margin-top: 30px;
  /* background-color: #b9d3a7; */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #000;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.card__image {
  width: 98%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.card__information-title {
  font-size: 2.3rem;
  font-weight: bold;
}

.card__information-description {
  font-size: 1rem !important;
  font-weight: 500;
}

.card__button {
  padding: 12px 20px;
  color: #fff;
  background-color: #b9d3a7;
  border: 3px solid var(--accent-color);
  border-radius: 0;
  cursor: pointer;
  transition: 250ms;
  text-transform: uppercase;
  color: var(--accent-color);
}

.card__button:is(:hover, :focus) {
  box-shadow: inset 0 0 0 2em var(--accent-color);
  color: #fff;
}

@media screen and (min-width: 34.375em) {
  .card {
    width: 60rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }

  .card__image {
    flex: 0 0 20rem;
  }

  .card__information-description {
    font-size: 1.6rem;
  }
}

@media (hover: none) {
  .card__button {
    box-shadow: inset 0 0 0 2em var(--accent-color);
    color: #fff;
  }
}

/* Video back properties */

.video__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
h1 {
  color: var(--orange);
  font-size: 3rem;
  text-align: center;
}
.video__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
video {
  width: 100%;
  opacity: 0.4;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .card__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .card__image {
    height: auto;
    width: 100%;
  }
  .card__button {
    margin-bottom: 5px;
  }
  .banner {
    position: relative;
    background: url(../images/bg1-op.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .img1 {
    display: block;
  }
  .banner__content h6 {
    mix-blend-mode: normal;
    opacity: 1 !important;
    text-align: center;
    font-size: 3.5em;
  }
  .slide {
    display: none;
    animation: none;
  }
}